.hero {
    padding: 10px
}

/* .img {
    height:50vh;
    width: 40vw;
    border-radius: 50%;

} */

.Homeh1 {
    margin: 0;
    font-size: 4rem;
    color: #564256;
}

.Homep {
    font-weight: 700px;
    font-size: 1.75rem;
    color: #564256;
}