.style {
    text-align: left;
    padding-left: 10%;
    padding-top: 3%;
    padding-right: 10%
}

.title {
    color: #fc814a;
    font-weight: bold;
}

.name {
    color: #564256;
    font-weight: bold;
}

.gray1 {
    color: #96939b;
}

.gray2 {
    color: #bfbfbf;
}

.white {
    color: #e8e8e8;
}

.btn-primary {
    color: #fff;
    background-color: #fc814a;
    background-color: cutom-color;
    border-color: #fc814a;
    border-color: cutom-cor;
}